.container {
  background-color: rgb(37, 33, 33);
  width: 80vw;
  height: 35vw;
  padding-top: 7em;
  position: relative;
  display: grid;
  margin: 2em auto;
}

.users-initial {
  background-color: rgb(209, 124, 209);
  border-radius: 50%;
  width: 5%;
  padding: 2em;
  font-size: 3em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin: auto;
}
.users-name {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  margin-left: 2em;
}
@media screen and (max-width: 1024px) {
  .container {
    background-color: rgb(37, 33, 33);
    width: 90vw;
    height: 70vw;
  }
  .users-initial {
    width: 5%;
    padding: 1.8em;
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: auto;
    border-radius: 50%;
  }
}
